.cards {
  .row {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
  }
  .col {
    color: #fff;
    padding: 21px;
    font-size: 30px;
    min-width: 100px;

    &.dark-light {
      background-color: #6f98a8;
    }

    &.light {
      background-color: #2b8ead;
    }

    &.grey {
      background-color: #bfbfbf;
    }

    &.dark {
      background-color: #2f454e;
    }
  }
}
