.mob-layout {
  border: 3px solid black;
  .mob-header {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
  }

  .mob-buttons {
    text-align: center;

    button {
      background-color: #72c3dc;
      cursor: pointer;
      font-size: 0.5rem;
      width: 30%;
      height: 40px;
      margin: 10px;
      border: none;
      border-bottom: 5px solid #2b8ead;
      border-radius: 10px;
      color: #fff;
    }

    button:active {
      transform: translateY(4px);
    }
  }

  .mob-footer {
    text-align: center;
  }
}
